{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <h1 class="bg-primary">Créer votre compte !</h1>
    <div class="container">

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        </div>

        {{ form_end(form) }}

        <a class="btn btn-secondary" href="{{ path('app_login') }}"><i class="fas fa-arrow-left"></i> Se connecter</a>
    </div>
{% endblock %}