{% extends 'layoutHome.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center pt-5 pb-5">
    <h1 class="title">Ma sélection</h1>
    </div>
{% if not movies is empty %}
<div class="row justify-content-around">
        {% for detail in details %}
            <div class="card col-5 mt-3" style="background-color: #4D4B50;">
                <img src="{{ detail.Poster }}" class="card-img-top" alt="affiche du film">
                <div class="card-body">
                    <h5 class="card-title title">{{ detail.Title}}</h5>
                    <p class="card-text movie_year">{{ detail.Year }}</p>
                    <p class="card-text movie_runtime">{{ detail.Runtime }}</p>
                    <p class="card-text movie_director">{{ detail.Director }}</p>
                    <p class="card-text movie_actors">{{ detail.Actors }}</p>
                    <p class="card-text movie_resume">{{ detail.Plot }}</p>
                    <p class="card-text movie_country">{{ detail.Country }}</p>
                    <p class="card-text movie_imdbRating">{{ detail.Ratings.0.Value }}</p>
                    <p class="card-text movie_myCritic">{{ detail.myCritic }}</p>
                    <p class="card-text movie_myRating">{{ detail.myRating }}</p>
                    <p class="card-text movie_statut">{{ detail.statut }}</p>
                    <a href="{{ path('movie_edit', {'id': detail.id}) }}" class="card-link">Mettre à jour</a>
                    {{ include('movie/_delete_form.html.twig') }}
                </div>
            </div>

        {% endfor %}
</div>
        {% else %}
            <div class="row justify-content-center">
                <p colspan="15">Aucun résultat</p>
            </div>

{% endif %}
        <div class="row justify-content-center">
    <a href="{{ path('search_movie') }}">Rechercher un nouveau film</a>
        </div>
    </div>
{% endblock %}
