{% extends 'layoutHome.html.twig' %}

{% block title %}Movie index{% endblock %}

{% block body %}
    <h1>Movie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Year</th>
                <th>Runtime</th>
                <th>Genre</th>
                <th>Director</th>
                <th>Actors</th>
                <th>Resume</th>
                <th>Country</th>
                <th>Poster</th>
                <th>ImdbRating</th>
                <th>MyCritic</th>
                <th>MyRating</th>
                <th>Statut</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.title }}</td>
                <td>{{ movie.year }}</td>
                <td>{{ movie.runtime }}</td>
                <td>{{ movie.genre }}</td>
                <td>{{ movie.director }}</td>
                <td>{{ movie.actors }}</td>
                <td>{{ movie.resume }}</td>
                <td>{{ movie.country }}</td>
                <td>{{ movie.poster }}</td>
                <td>{{ movie.imdbRating }}</td>
                <td>{{ movie.myCritic }}</td>
                <td>{{ movie.myRating }}</td>
                <td>{{ movie.statut }}</td>
                <td>
                    <a href="{{ path('movie_show', {'id': movie.id}) }}">show</a>
                    <a href="{{ path('movie_edit', {'id': movie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('movie_new') }}">Create new</a>
{% endblock %}
