{% extends 'layoutHome.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %}Résultat de votre recherche{% endblock %}

{% block body %}
    <div class="row justify-content-center">
    <h1 class="title">Résultat</h1>
    </div>
    <div class="container">
        <p>Ma recherche :</p>
        <p id="movie_search_movieSearchByTitle">{{ app.session.get('movieSearch').movieSearchByTitle }}</p>
    {{ include('movie/_form.html.twig') }}

    <a href="{{ path('search_movie') }}">Nouvelle recherche</a>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('requestMovieApi') }}
{% endblock %}